@import url("https://fonts.googleapis.com/css?family=Raleway");

.center {
  font-family: "Raleway", sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #edeec9;
  width: 50%;
  border-radius: 15px;
  padding: 0.8rem;
  margin-bottom: 20%;
}

.card > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 50px;
  width: 60%;
  border: 1px solid grey;
  text-align: center;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 50px;
  color: #fff;
  background-color: #1abc9c;
  width: 40%;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 15px;
}
.form-submit:hover {
  opacity: 0.6;
}
