body {
  width: 100%;
  background-color: #ededed;
  height: 100%;
}
.mr-1 {
  margin-right: ($spacer * 0.25) !important;
}
.ml-1 {
  margin-right: ($spacer * 0.25) !important;
}

.mt {
  margin-top: 10% !important;
}

/* for performance component */
.performance-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 50px #ededed inset;
  margin:0 20px 0 20px;
}
.performance-container-numberOf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.dropdown-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.barchart-performance-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}


.barchart-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* register component */
.register-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.register {
  width: 600px;
}
.register form {
  border-top: 1px solid rgb(189, 186, 186);
  padding-top: 20px;
}
/* new cards */
.cards-container {
  margin: 0 auto;
}

.outer {
  margin: 0 auto;
  width: 100%;
}
.inner {
  margin: 0 auto;
}

/* StudentLabel */
.label {
  /* border: 1px solid; */
  padding: 30px;
  box-shadow: 1px 0px 20px #acad67;
  width:100%;
  margin-bottom: 40px;
  
}

.icon{
  font-Size: 30px;
  margin-left: 10px;
}
/* student page */
.studen-page {
  box-shadow: 1px 1px 50px #ededed inset;

}

.student-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.student-lable-container {
  width: 30%;
}
.barchart-sudentlable-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-top: 50px;
}

.header-container {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  position: relative;
  font-size: 36px;
  line-height: 40px;
  padding: 15px 5% 15px 5%;
  color: black;
  box-shadow: inset 0 0 0 1px rgba(53, 86, 129, 0.4),
    inset 0 0 5px rgba(53, 86, 129, 0.5), inset -285px 0 35px white;
  border-radius: 0 10px 0 10px;
  text-align: center;
  /* background: #fff url(../logo-cyf.png) no-repeat center left; */
}

/* ProgressPage */
.set-target-performance-container {
  display: flex;
  justify-content: space-around;
}

/* SetTargt page */

.set-target-dropdown-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* General */
.result-container {
  border-radius: 50px;
  padding: 20px;
}

.hr{
  display: none;
}


@media screen and (max-width: 811px) {
  .dropdown-container {
    flex-direction: column;
  }
  .barchart-sudentlable-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .hr{
    display: inline-block;
    background-color:#D1CFB2;
    width: 80%;
    height: 2px;
  }
}

