.mr-1 {
  margin-right: ($spacer * 0.25) !important;
}
.ml-1 {
  margin-right: ($spacer * 0.25) !important;
}

.mt {
  margin-top: 10% !important;
}

/* for performance component */
.performance-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.barchart-performance-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (max-width: 811px) {
  .dropdown-container {
    flex-direction: column;
  }
}

.barchart-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* register component */
.register-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.register {
  width: 600px;
}
.register form {
  border-top: 1px solid rgb(189, 186, 186);
  padding-top: 20px;
}
/* new cards */
.cards-container {
  margin: 0 auto;
}

.outer {
  margin: 0 auto;
  width: 100%;
}
.inner {
  margin: 0 auto;
}

/* StudentLabel */
.example2 {
  border: 1px solid;
  padding: 30px;
  box-shadow: 5px 10px 20px red inset;
}

.header-container {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  position: relative;
  font-size: 36px;
  line-height: 40px;
  padding: 15px 5% 15px 5%;
  color: black;
  box-shadow: inset 0 0 0 1px rgba(53, 86, 129, 0.4),
    inset 0 0 5px rgba(53, 86, 129, 0.5), inset -285px 0 35px white;
  border-radius: 0 10px 0 10px;
  text-align: center;
  /* background: #fff url(../logo-cyf.png) no-repeat center left; */
}

/* ProgressPage */
.set-target-performance-container {
  display: flex;
  justify-content: space-around;
}

/* SetTargt page */

.set-target-dropdown-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
